# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dados = {
    'ano': [1900, 1920, 1940, 1960, 1980, 2000, 2020],
    'anomalia_termica': [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
}

df = pd.DataFrame(dados)

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

df.set_index('ano', inplace=True)

In [4]:
df

      anomalia_termica
ano
1900             -0.08
1920             -0.27
1940              0.12
1960             -0.03
1980              0.26
2000              0.40
2020              1.02

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [8]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
serie_temperaturas = pd.Series(dic_temperaturas)
serie_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [10]:
arr = np.random.normal(100, 10, (20,3))

df = pd.DataFrame(arr, columns=['valor1','valor2','valor3'])

In [11]:
df

        valor1      valor2      valor3
0    90.582417   98.419588  101.271338
1   105.844578   96.742404  105.919772
2    86.026126  105.645702  101.794916
3    99.410283  102.557929   92.213615
4    88.125053  117.652887  106.808147
5    95.099023  101.493591   86.832460
6   100.514892   86.647888  107.139455
7    96.921688   91.563597  106.484579
8    97.713939   77.806759   96.801154
9   101.114748   88.097444  102.593329
10  108.850021   95.436371  104.328501
11   83.923131  100.972516  102.912636
12   99.059002  100.394832   88.164859
13  114.010254   85.733511   88.725627
14   81.418275   92.981277  118.265116
15  105.460907  103.434490  109.036591
16  112.854452   98.063759  105.592332
17  108.457844  119.247569   98.458159
18  115.736154  103.050430   90.995763
19  102.703108  106.788538  104.535722

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [12]:
#seu código aqui
df = pd.DataFrame(arr, index=range(1, 21), columns=['x1', 'x2', 'x3'])

In [13]:
df

            x1          x2          x3
1    90.582417   98.419588  101.271338
2   105.844578   96.742404  105.919772
3    86.026126  105.645702  101.794916
4    99.410283  102.557929   92.213615
5    88.125053  117.652887  106.808147
6    95.099023  101.493591   86.832460
7   100.514892   86.647888  107.139455
8    96.921688   91.563597  106.484579
9    97.713939   77.806759   96.801154
10  101.114748   88.097444  102.593329
11  108.850021   95.436371  104.328501
12   83.923131  100.972516  102.912636
13   99.059002  100.394832   88.164859
14  114.010254   85.733511   88.725627
15   81.418275   92.981277  118.265116
16  105.460907  103.434490  109.036591
17  112.854452   98.063759  105.592332
18  108.457844  119.247569   98.458159
19  115.736154  103.050430   90.995763
20  102.703108  106.788538  104.535722

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [14]:
df['media'] = df.mean(axis=1)
df

            x1          x2          x3       media
1    90.582417   98.419588  101.271338   96.757781
2   105.844578   96.742404  105.919772  102.835585
3    86.026126  105.645702  101.794916   97.822248
4    99.410283  102.557929   92.213615   98.060609
5    88.125053  117.652887  106.808147  104.195362
6    95.099023  101.493591   86.832460   94.475025
7   100.514892   86.647888  107.139455   98.100745
8    96.921688   91.563597  106.484579   98.323288
9    97.713939   77.806759   96.801154   90.773950
10  101.114748   88.097444  102.593329   97.268507
11  108.850021   95.436371  104.328501  102.871631
12   83.923131  100.972516  102.912636   95.936094
13   99.059002  100.394832   88.164859   95.872898
14  114.010254   85.733511   88.725627   96.156464
15   81.418275   92.981277  118.265116   97.554889
16  105.460907  103.434490  109.036591  105.977329
17  112.854452   98.063759  105.592332  105.503514
18  108.457844  119.247569   98.458159  108.721191
19  115.736154  103.050430   90.995763  103.260782
20  102.703108  106.788538  104.535722  104.675789

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [15]:
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1    90.582417   98.419588  101.271338   96.757781  4.572211
2   105.844578   96.742404  105.919772  102.835585  4.633131
3    86.026126  105.645702  101.794916   97.822248  4.583152
4    99.410283  102.557929   92.213615   98.060609  4.585586
5    88.125053  117.652887  106.808147  104.195362  4.646268
6    95.099023  101.493591   86.832460   94.475025  4.548336
7   100.514892   86.647888  107.139455   98.100745  4.585995
8    96.921688   91.563597  106.484579   98.323288  4.588261
9    97.713939   77.806759   96.801154   90.773950  4.508372
10  101.114748   88.097444  102.593329   97.268507  4.577475
11  108.850021   95.436371  104.328501  102.871631  4.633482
12   83.923131  100.972516  102.912636   95.936094  4.563682
13   99.059002  100.394832   88.164859   95.872898  4.563023
14  114.010254   85.733511   88.725627   96.156464  4.565977
15   81.418275   92.981277  118.265116   97.554889  4.580415
16  105.460907  103.434490  109.036591  105.977329  4.663225
17  112.854452   98.063759  105.592332  105.503514  4.658744
18  108.457844  119.247569   98.458159  108.721191  4.688787
19  115.736154  103.050430   90.995763  103.260782  4.637258
20  102.703108  106.788538  104.535722  104.675789  4.650868